.custom-calendar .p-datepicker-header {
  background: #dc2626 !important;
  color: white !important;
  border-radius: 6px 6px 0 0;
}

.custom-calendar .p-datepicker-header button {
  color: white !important;
}

.custom-calendar .p-datepicker {
  border: none;
  border-radius: 6px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  background: white !important;
  width: 500px !important;
  overflow: hidden !important;
}

.custom-calendar .p-datepicker table {
  width: 100%;
  margin: 0.5rem 0;
}

.custom-calendar .p-datepicker table td {
  padding: 0.5rem;
  border: 1px solid #f3f4f6;
}

.custom-calendar .p-datepicker table td > span {
  color: #374151;
  width: 3rem;
  height: 3rem;
  font-size: 1.1rem;
}

.custom-calendar .p-datepicker table td.p-datepicker-today > span {
  background: #fee2e2;
  color: #dc2626;
}

.custom-calendar .p-datepicker table td.p-highlight > span {
  background: #dc2626;
  color: white;
} 